ccnavmenus/force-app/main/default/flows/Check_Menu_Name_Uniqueness.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Unique_Menu_Name_Error</name>
        <label>Unique Menu Name Error</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Another Menu with the same name already exists. Please enter a unique name for the menu, or delete the existing menu before creating the new one.</errorMessage>
            <fieldSelection>Name</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_another_menu_exists_with_same_name</name>
        <label>Check if another menu exists with same name</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another_Menu_exists_with_same_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Menu_Name_Uniqueness_Subflow.anotherMenuExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_Menu_Name_Error</targetReference>
            </connector>
            <label>Another Menu exists with same name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check Menu Name Uniqueness {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Menu Name Uniqueness</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Menu_Name_Uniqueness_Subflow</targetReference>
        </connector>
        <object>Menu__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Menu_Name_Uniqueness_Subflow</name>
        <label>Check Menu Name Uniqueness Subflow</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Check_if_another_menu_exists_with_same_name</targetReference>
        </connector>
        <flowName>Check_Menu_Name_Uniqueness_Subflow</flowName>
        <inputAssignments>
            <name>newMenu</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
